include README.md
include LICENSE
include example.env
include example.service
include doxietodropbox/*.py
include doxietodropbox/*.env
include doxietodropbox/*.service
recursive-include doxietodropbox/ *.py *.env *.service