description "Doxie to Dropbox"
author  "Nina Pavlich <nina@ninalp.com>"

start on runlevel [234]
stop on runlevel [0156]

chdir /home/username/.local/lib/python2.7/site-packages/doxietodropbox/
exec python /home/username/.local/lib/python2.7/site-packages/doxietodropbox/service.py
respawn